# App
APP_ENV=dev

# Backend
BACKEND_PORT=3000 #Puerto del servidor
CORS_ORIGIN=http://localhost:5173 #Origen permitido para CORS

# CORS (Cross-Origin Resource Sharing)
# Mecanismo de seguridad del navegador que controla que sitios web pueden hacer peticiones a tu servidor
# Por defecto los navegadores tienen diferentes orígnes (protocolo + dominio + puerto)
#
#http://localhost:5173  →  http://localhost:3000
#   (Frontend)                  (Backend)
#   ↓
#   ✗ BLOQUEADO por política "Same-Origin"
#
# Tiene diferentes orígenes porque el puerto es distinto 5173 vs 3000
# CORS oermite al servidor decirle al navegador que acepta peiticiones desde ese origen
# en el backend tenemos en SERVER.TS: await app.register(cors, { origin: env.CORS_ORIGIN });
# Cómo Funciona
#   1. Frontend hace fetch: fetch('http://localhost:3000/api/health')
#   2. Navegador envía header: Origin: http://localhost:5173
#   3. Backend responde con: Access-Control-Allow-Origin: http://localhost:5173
#   4. Navegador permite la respuesta ✓
#
# OPCIONES COMUNES
#// Permitir cualquier origen (⚠️ NO usar en producción)
#{ origin: '*' }
#
#// Permitir origen específico (✓ Seguro)
#{ origin: 'http://localhost:5173' }
#
#// Permitir múltiples orígenes
#{ origin: ['http://localhost:5173', 'https://miapp.com'] }
#
#// Permitir credenciales (cookies)
#{ origin: '...', credentials: true }

# Database
POSTGRES_DB=transcendence
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=transcendence
DATABASE_URL=postgresql://transcendence:transcendence@db:5432/transcendence